<div class="card text-center">
  <div class="card-header">
    Pesquisar & Cadastrar Cidades
  </div>
  <div class="card-body">
    <form #searchCityForm (ngSubmit)="this.searchCities()" class="form-inline">
      <div class="form-group mx-auto d-block w-100">
        <label for="cityName" class="sr-only">
          Nome da Cidade
        </label>
        <div class="input-group">
          <input type="text" class="form-control" id="cityName" name="cityName"
            placeholder="Digite o nome da cidade que deseja pesquisar" [(ngModel)]="this.model.cityName">
          <div class="input-group-append">
            <button type="submit" class="btn btn-primary mb-2">
              Buscar <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </form>


    <div class="mt-2">
      <div class="card text-center">
        <div class="alert alert-warning mb-0" role="alert" *ngIf="this.foundCities.length == 0 && this.pesquisaFeita">
          Não foi possível encontrar a cidade informada.
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let foundCity of this.foundCities">
            <span>{{foundCity.name}}, {{foundCity.country}}</span>
            <span class="mx-2 mb-3">
              <img [src]="'http://openweathermap.org/images/flags/' + foundCity.country.toLowerCase() + '.png'" />
            </span>
            <button type="submit" class="btn btn-success ml-2" (click)="saveCity(foundCity)">
              Cadastrar <i class="fa fa-plus"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>